
  <h2>Welcome!</h2>
<section class="Bio">
  <div class="owner-details">
    <h3>{{profile.name}}</h3>
    <p>Id: {{profile.id}}</p>
    <p>Age: {{profile.age}}</p>
    <p>Desired Pet: {{profile.desired_pet}}</p>
    <p>Family Size:{{ profile.family_size}}</p>
    <p>Income:{{profile.income}}</p>
    <p>Bio:{{ profile.bio}}</p>
  </div>
</section>

{{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
  <a class= 'btn' href='/login'>login</a>
{{/unless}}

