
  <h2>Welcome!</h2>
<section class="Bio">
  <div class="owner-details">
    <h3>{{profile.name}}</h3>
    <p>Id: {{profile.id}}</p>
    <p>Age: {{profile.age}}</p>
    <p>Desired Pet: {{profile.desired_pet}}</p>
    <p>Family Size:{{ profile.family_size}}</p>
    <p>Income:{{profile.income}}</p>
    <p>Bio:{{ profile.bio}}</p>
    <p>Email: {{ profile.email}}</p>
  </div>
</section>



