<section class="owners">
  <div class="owners-details">
    <h3>{{users}}</h3>
    <p>Username: {{user.name}}</p>
    <p>Desired Pet: {{user.desired_pet}}</p>
    <p>Family Size: {{user.family-size}}</p>
    <p>Income: {{user.income}}</p>
    <p>Email: {{user.email}}</p>
  </div>
</section>